#attachment-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

#modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    width: 50%;
    border-radius: 10px;
}

#attachment-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#attachment-close:hover, #attachment-close:focus, #edit-profile-close:hover, #edit-profile-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#edit-profile-modal h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

#edit-profile-modal h3 {
    font-size: 20px;
    margin: 20px 0;
}

.modal-header {
    border-bottom: #d4deee 1px solid;
}

#edit-profile-modal input {
    display: block;
    width: 99%;
    border: #d4deee 1px solid;
    border-radius: 5px;
    margin: 5px 0;
    padding: 8px;
}

#edit-profile-modal #profile-image {
    width: 200px;
    border-radius: 100%;
    margin: 8px 0;
}

#edit-profile-button {
    background-color: #42b29f;
    border-color: #42b29f;
}